@model HeatEnergyConsumption.Models.Organization

@{
    ViewData["Title"] = "Добавление организации";
}

<div class="limiter-operation-form">
    <div class="container-title">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="container-operation-form">
        <form class="operation-form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Name" class="title-operation-input"></label>
            <div class="container-operation-input">
                <input asp-for="Name" class="operation-input" autocomplete="off" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
            <label asp-for="OwnershipFormId" class="title-operation-input"></label>
            <div class="container-operation-input">
                <select asp-for="OwnershipFormId" class="operation-input" asp-items="ViewBag.OwnershipFormId"></select>
            </div>
            <span asp-validation-for="OwnershipFormId" class="text-danger"></span>
            <label asp-for="Address" class="title-operation-input"></label>
            <div class="container-operation-input">
                <input asp-for="Address" class="operation-input" autocomplete="off" />
            </div>
            <span asp-validation-for="Address" class="text-danger"></span>
            <label asp-for="ManagerId" class="title-operation-input"></label>
            <div class="container-operation-input">
                <select asp-for="ManagerId" class="operation-input" asp-items="ViewBag.ManagerId"></select>
            </div>
            <span asp-validation-for="ManagerId" class="text-danger"></span>
            <div class="operation-and-return-container-btn">
                <input class="add-btn" type="submit" value="Добавить" />
                <a class="return-btn" asp-action="Index">Вернуться к таблице</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}