@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <div class="hidden-menu-a-container">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Профиль</a>
        </div>
    </li>
    <li>
        <form class="hidden-menu-a-container" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Выход</button>
        </form>
    </li>
}
else
{
    <li>
        <div class="hidden-menu-a-container">
            <a asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </div>
    </li>
    <li>
        <div class="hidden-menu-a-container">
            <a asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </div>
    </li>
}