@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<div class="limiter">
    <div class="container-login-form">
        <form class="login-form" id="account" method="post">
            <span class="title-login-form">Авторизация</span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Input.Email" class="title-login-input">@Html.DisplayNameFor(model => model.Input.Email)</label>
            <div class="container-login-input">
                <input asp-for="Input.Email" class="login-input" type="email" aria-required="true">
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <label asp-for="Input.Password" class="title-login-input">@Html.DisplayNameFor(model => model.Input.Password)</label>
            <div class="container-login-input">
                <input asp-for="Input.Password" class="login-input" type="password" aria-required="true">
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <div>
                <input asp-for="Input.RememberMe" class="login-checkbox" id="remember-me" type="checkbox">
                <label asp-for="Input.RememberMe" class="label-login-checkbox" for="remember-me">@Html.DisplayNameFor(model => model.Input.RememberMe)</label>
            </div>

            <div class="container-login-btn">
                <button id="login-submit" class="login-btn" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
