@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="limiter">
    <div class="container-register-form">
        <form class="register-form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <span class="title-register-form">Регистрация</span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Input.Email" class="title-register-input">Email</label>
            <div class="container-register-input">
                <input asp-for="Input.Email" class="register-input" type="email" aria-required="true">
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <label asp-for="Input.Name" class="title-register-input">Имя</label>
            <div class="container-register-input">
                <input asp-for="Input.Name" class="register-input" type="text" aria-required="true">
            </div>
            <span asp-validation-for="Input.Name" class="text-danger"></span>
            <label asp-for="Input.Surname" class="title-register-input">Фамилия</label>
            <div class="container-register-input">
                <input asp-for="Input.Surname" class="register-input" type="text" aria-required="true">
            </div>
            <span asp-validation-for="Input.Surname" class="text-danger"></span>
            <label asp-for="Input.Password" class="title-register-input">Пароль</label>
            <div class="container-register-input">
                <input asp-for="Input.Password" class="register-input" type="password" aria-required="true">
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <label asp-for="Input.ConfirmPassword" class="title-register-input">Повторите пароль</label>
            <div class="container-register-input">
                <input asp-for="Input.ConfirmPassword" class="register-input" type="password" aria-required="true">
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            <div class="container-register-btn">
                <button id="registerSubmit" class="register-btn" type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}