@model HeatEnergyConsumption.ViewModels.UserViewModels.CreateUserViewModel

@{
    ViewData["Title"] = "Добавление пользователя";
}

<div class="limiter-operation-form">
    <div class="container-title">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="container-operation-form">
        <form class="operation-form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Email" class="title-operation-input"></label>
            <div class="container-operation-input">
                <input asp-for="Email" class="operation-input" autocomplete="off" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
            <label asp-for="Password" class="title-operation-input"></label>
            <div class="container-operation-input">
                <input asp-for="Password" class="operation-input" autocomplete="off" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <label asp-for="Role" class="title-operation-input"></label>
            <div class="container-operation-input">
                <select asp-for="Role" class="operation-input" asp-items='(IEnumerable<SelectListItem>?)@ViewData["Roles"]'>
                    <option selected disable>Выберите роль</option>
                </select>
            </div>
            <span asp-validation-for="Role" class="text-danger"></span>
            <div class="operation-and-return-container-btn">
                <input class="add-btn" type="submit" value="Добавить" />
                <a class="return-btn" asp-action="Index">Вернуться к таблице</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}